<section id="objective">
  <h2 class="h2 print:hidden">Objective</h2>

  <div class="prose prose-sm leading-tight max-w-none">{{ cv.objective | markdownify | remove: '<p>' | remove: '</p>' }}</div>
</section>
