<section>
  <div class="row" id="skills">
    <section class="four columns">
      <h3>Code</h3>

      <ul class="compact">
        {% for item in site.data.cv.skills.languages %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="four columns">
      <h3>Tools</h3>

      <ul class="compact">
        {% for item in site.data.cv.skills.tools %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="four columns">
      <h3>Career</h3>

      <ul class="compact">
        {% for item in site.data.cv.skills.career %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>