---
layout: default
title: Resume for Jacob Harris
description: site.data.cv.objective
---
<div class="flex flex-col gap-4 pb-3">
  {% render 'resume/header', cv: site.data.cv %}
  {% render 'resume/objective', cv: site.data.cv %}
  {% render 'resume/skills', cv: site.data.cv %}
  {% render 'resume/employment', cv: site.data.cv %}
  {% render 'resume/education', cv: site.data.cv %}
</div>
