<!doctype html>
<html lang="en-US">
  <head>
    <%= liquid_render 'head', metadata: site.metadata, title: data.title %>
  </head>
  <body>
    <main class="max-w-4xl mx-auto">
        <%= yield %>
    </main>
  </body>
</html>
