/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet') layer(base);

@import 'tailwindcss';
@plugin "daisyui";

 @plugin "daisyui" {
   themes: corporate --default, business --prefersdark;
 }


@config "../../tailwind.config.js";

@layer base {
  :root {
    --spacing-xs: clamp(0.5rem, 1%, 1rem);
    --spacing-sm: clamp(1rem, 3%, 1.5rem);
    --spacing-md: clamp(1.5rem, 6%, 3rem);
    --spacing-lg: clamp(3rem, 12%, 6rem);
    --spacing-xl: clamp(6rem, 24%, 12rem);
  }

  html, body {
    /* overflow-x: none; */
  }

  h1 {
    font-family: "Oswald", serif;
  }

  date {
    @apply font-mono text-sm;
  }

  code * {
    @apply font-mono;
  }

  pre {
    @apply max-w-full;
    @apply overflow-x-auto;
  }

}

@layer components {
  /* .text-light {
    @apply text-base-content text-opacity-75;
  } */

  a {
    @apply font-extrabold sm:font-bold;
  }

  .h1 {
    @apply text-xl sm:text-2xl md:text-3xl
  }

  .h2 {
    @apply text-lg sm:text-xl md:text-2xl
  }

  .h3 {
    @apply text-lg md:text-xl;
  }

  .h4 {
    @apply text-lg;
  }

  .my-2col-grid {
    @apply sm:grid sm:grid-cols-[100px_auto] gap-x-3;
  }

  .my-2col-l {
    @apply ml-0 sm:block sm:text-right col-start-1 sm:border-r-1 sm:border-base-300 pr-3 leading-none text-nowrap sm:pt-1;
  }

  .my-2col-r {
    @apply text-left col-start-2;
  }
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-base-100;
  }

  body {
    @apply font-sans;
    @apply text-base-content;
  }
}

.prose div.highlight {
  @apply rounded-lg shadow-xl;
}

.prose code.highlighter-rouge,
.prose table code {
  @apply bg-base-100 rounded border-none px-2;
}

.prose h4 {
  @apply text-xl;
}

.prose kbd {
  @apply bg-white/50 text-neutral border-0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.base-200") theme("colors.base-300");
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.66rem;
  background: theme("colors.base-300")
}

*::-webkit-scrollbar-track {
  background: theme("colors.base-200");
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-base-100 border;
}

@theme {
  --font-sans: "Raleway", system-ui, sans-serif;
  --font-mono: "Azeret Mono", "Roboto Mono", "ui-monospace";
}

/* Set up Tailwind imports */


