    <div class="">
      <label class="input border-secondary">
      <i class="fa-regular fa-magnifying-glass text-secondary"></i>
      {% render "bridgetown_quick_search/search", placeholder: 'search', input_class: "input" %}
      </label>
    <div>
