<div class="">
    <label class="input border-secondary">
    <span class="stroke-secondary fill-secondary"><i class="stroke-secondary fill-secondary fa-regular fa-magnifying-glass"></i></span>
    {% render "bridgetown_quick_search/search", placeholder: '', input_class: "input" %}
    </label>
<div>
