<label class="swap swap-rotate">
  <!-- this hidden checkbox controls the state -->
  <input type="checkbox" class="theme-controller" value="business" />

  <!-- sun icon -->
  <i class="fa-sharp fa-regular fa-brightness swap-off h-15 w-15 fill-current"></i>

  <!-- moon icon -->
  <i class="fa-sharp fa-regular fa-moon swap-on h-15 w-15 fill-current"></i>
</label>
